<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Users</title>
    <style>
        table, th, td {
            border: 1px solid #000;
            border-collapse: collapse;
        }

        .btn-edit {
            outline: none;
            border: none;
            background-color: rgb(253, 185, 57);
            height: 25px;
            width: 60px;
            border-radius: 3px;
            padding: 2px 7px;
            text-decoration: none;
            margin: 2px 7px;
        }
        
        .btn-delete {
            margin: 2px 7px;
            outline: none;
            border: none;
            background-color: rgb(253, 86, 57);
            height: 25px;
            width: 60px;
            border-radius: 3px;
            padding: 2px 7px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].email %></td>
                <td><%= data[i].firstName %></td>
                <td><%= data[i].lastName %></td>
                <td><%= data[i].address %></td>
                <td>
                    <a href="/edit-crud?id=<%= data[i].id%>" class="btn btn-edit" type="button">Edit</a>
                    <a href="#" class="btn btn-delete" type="button">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>